header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.container-fluid {
    position: relative;
    top: 56px;
    min-height: 600px;
}
.card {
    margin: 0 15px 0 0;
}
.card-title {
    max-height: 250px;
    overflow: hidden;
    min-height: 200px;
}
footer {

}