<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Страница курса </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <div th:with="course=${course}">
            <div class="jumbotron">
                <h1 th:text="${course.name}" class="display-4" > Имя курса </h1>
                <p th:text="${course.description}" class="lead"> Описание курса </p>
                <hr class="my-4">
                <!--<p th:text="${course.teacher}" > ФИО учителя </p>-->
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button"> Записаться </a>
                </p>
            </div>
        </div>
    </div>

</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>