<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Страница курса </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <div class="row">
                <div class="col-6">
                    <form id="create-course" method="post" th:if="${course}"
                          th:action="@{'/course/' + ${course.id}}">
                        <div class="form-group">
                            <label for="name">Название курса</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="${course.name}"
                                   placeholder="Введите имя ...">
                        </div>
                        <div class="form-group">
                            <label for="description">Описание курса</label>
                            <textarea class="form-control" rows="3" id="description" th:text="${course.description}"
                                      name="description"></textarea>
                            <!--                    <script>
                                                    CKEDITOR.replace( 'description' );
                                                </script>-->
                        </div>
                        <input type="submit" name="Редактировать курс"/>
                    </form>
                </div>
                <div class="col-6">
                    <h3>Уроки</h3>
                    <div class="row">
                        <a th:href="@{'/lesson/create/' + ${course.id}}" class="btn btn-primary"> Создать урок </a>
                        <!--<form id="create-lesson" method="post" th:action="@{'/lesson/create/' + ${course.id}}">
                        <input type="submit" name="Создать урок" value="Создать урок"/>
                        </form>-->
                    </div>

                    <div class="row" th:if="${lessons.empty}">
                        <p>В данном курсе нет добавленных уроков</p>
                    </div>


                    <table th:if="${!lessons.empty}">
                        <tr>
                            <td>name</td>
                            <td>content</td>
                            <td>homework</td>
                            <td>U</td>
                            <td>X</td>
                        </tr>

                        <tr th:each="lesson : ${lessons}">
                            <td th:text="${lesson.name}"></td>
                            <td th:text="${lesson.content}"></td>
                            <td th:text="${lesson.homework}"></td>
                            <td><a th:href="@{'/lesson/' + ${lesson.id} + '/' + ${lesson.course.id}}" class="btn btn-primary">U</a></td>
                            <td><a th:href="@{'/lesson/delete/' + ${lesson.id} +'/' + ${lesson.course.id}}" class="btn btn-primary">X</a></td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>