<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Создание курса </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <div class="row">
                <div class="col-7">
                    <h3>Редактировать</h3>
                    <form id="create-course" method="post" th:unless="${course}" th:action="@{/course/create}">

                        <div class="form-group">
                            <label for="name">Название курса</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Введите имя ...">
                        </div>
                        <div class="form-group">
                            <label for="description">Описание курса</label>
                            <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                        </div>
                        <input type="submit" name="Создать курс"/>
                    </form>
                </div>
                <!--<div class="col-5">-->
                    <!--<h3>Уроки</h3>-->
                    <!--<div class="row">-->
                        <!--<a th:href="@{'/lesson/' + ${course.id}}" class="btn btn-primary"> Создать урок </a>-->
                        <!--&lt;!&ndash;<form id="create-lesson" method="post" th:action="@{'/lesson/create/' + ${course.id}}">-->
                        <!--<input type="submit" name="Создать урок" value="Создать урок"/>-->
                        <!--</form>&ndash;&gt;-->
                    <!--</div>-->

                    <!--<div class="row" th:if="${lessons.empty}">-->
                        <!--<p>В данном курсе нет добавленных уроков</p>-->
                    <!--</div>-->


                    <!--<table th:if="${!lessons.empty}">-->
                        <!--<tr>-->
                            <!--<td>id</td>-->
                            <!--<td>course</td>-->
                            <!--<td>name</td>-->
                            <!--<td>content</td>-->
                            <!--<td>homework</td>-->
                        <!--</tr>-->

                        <!--<tr th:each="lesson : ${lessons}">-->
                            <!--<td th:text="${lesson.id}"></td>-->
                            <!--<td th:text="${lesson.course.id}"></td>-->
                            <!--<td th:text="${lesson.name}"></td>-->
                            <!--<td th:text="${lesson.content}"></td>-->
                            <!--<td th:text="${lesson.homework}"></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
        </div>
    </div>

</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>