<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Главная страница </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <div class="col-10 m-2">
                <strong>Error</strong>
        </div>
    </div>
</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>