<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Страница курса </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <div class="container mt-2 col-3">
            <div class="row">
                <h3 class="display-4">Регистрация</h3>
                <img src="/images/registration.png" width="50" height="50" class="" alt="">
            </div>
            <div>
                <div th:if="${message}">
                    <div th:utext="${message}"></div>
                </div>

                <form th:action="@{/registration}" method="post">
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-3 col-form-label">Имя:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   placeholder="Введите имя...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="secondName" class="col-sm-3 col-form-label">Фамилия:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="secondName" name="secondName"
                                   placeholder="Введите фамилию...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mail" class="col-sm-3 col-form-label">Е-майл:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="mail" name="mail"
                                   placeholder="Введите адрес эл. почты...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pass" class="col-sm-3 col-form-label">Пароль:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="pass" name="pass"
                                   placeholder="Введите пароль...">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0">Роль</legend>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="roles" id="USER" value="USER"
                                           checked>
                                    <label class="form-check-label" for="USER">
                                        Ученик
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="roles" id="TEACHER"
                                           value="TEACHER">
                                    <label class="form-check-label" for="TEACHER">
                                        Учитель
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="roles" id="ADMINISTRATOR"
                                           value="ADMINISTRATOR">
                                    <label class="form-check-label" for="ADMINISTRATOR">
                                        Администратор
                                    </label>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>