<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Страница курса </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <form method="post">
            <input name="firstname" placeholder="Имя" value="<%=firstName%>">
            <input name="secondname" placeholder="Фамилия" value="<%=secondName%>">
            <input name="email" placeholder="Е-мейл" value="<%=mail%>">
            <input name="password" type="password" placeholder="Пароль" value="<%=pass%>">
            <input type="submit" value="Зарегистрировать">
        </form>
    </div>

</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>