<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users All</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <h2>List of cities</h2>
        <div th:utext="${userLogined.mail}"></div>

        <table>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Mail</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>SecondName</th>
            </tr>

            <tr th:each="nextUser:${usersAll}">
                <td th:utext="${nextUser.id}">Id</td>
                <td th:utext="${nextUser.roles}">Role</td>
                <td th:utext="${nextUser.mail}">Mail</td>
                <td th:utext="${nextUser.pass}">Password</td>
                <td th:utext="${nextUser.firstName}">FirstName</td>
                <td th:utext="${nextUser.secondName}">SecondName</td>
            </tr>
        </table>

    </body>
</html>