<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users All</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <h2>List of cities</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Mail</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>SecondName</th>
            </tr>

            <tr th:each="users : ${usersAll}">
                <td th:text="${users.id}">Id</td>
                <td th:text="${users.role}">Role</td>
                <td th:text="${users.mail}">Mail</td>
                <td th:text="${users.pass}">Password</td>
                <td th:text="${users.firstName}">FirstName</td>
                <td th:text="${users.secondName}">SecondName</td>
            </tr>
        </table>

    </body>
</html>