<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
    <title id="pageTitle"> Страница курса </title>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<!--Основное содержимое страницы-->
<main class="container-fluid">

    <div class="row">
        <aside th:replace="fragment/left-sidebar :: left-sidebar"></aside>
        <div th:with="course=${course}">

            <h2>Все пользователи</h2>
            <div th:utext="${userLogined.mail}"></div>

            <table>
                <tr>
                    <th>Role</th>
                    <th>Mail</th>
                    <th>FirstName</th>
                    <th>SecondName</th>
                </tr>

                <tr th:each="nextUser:${usersAll}">
                    <td th:utext="${nextUser.roles}">Role</td>
                    <td th:utext="${nextUser.mail}">Mail</td>
                    <td th:utext="${nextUser.firstName}">FirstName</td>
                    <td th:utext="${nextUser.secondName}">SecondName</td>
                </tr>
            </table>

        </div>
    </div>

</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>